<!-- app/views/recipes/index.html.erb -->
<h1>レシピ一覧</h1>

<%= link_to '新しいレシピを作成', new_recipe_path %>

<table>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.title, recipe %></td>
      <td>
        <%= link_to '編集', edit_recipe_path(recipe) %>
        <%= link_to '削除', recipe, data: { turbo_method: :delete, turbo_confirm: "削除してよろしいですか？" } %>
      </td>
    </tr>
  <% end %>
</table>
